* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;;
}

a {
  text-decoration: none;
  color: black;
}

.head-line-section {
  margin-top: 10px;
}

.icon {
  padding: 10px;
  font-size: 20px;
}

.nav-search-box .open-btn {
  display: none;
}

.search-btn {
  border-radius: 4px;
}

.search-btn:hover {
  background-color: #eee;
}

.input-box {
  display: none;
}

.input-box input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 8px;
}

.input-box .go-btn {
  background-color: #eee;
  border: none;
  padding: 2px 10px;
  border-radius: 4px;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.side-menu a {
  color: #fff;
  display: block;
  padding: 8px 32px 8px 32px;
  transition: 0.3s;
}

.side-menu a.close-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 0;
  font-size: 25px;
}

.head-line {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.head-line svg {
  width: 400px;
}

.menus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

.menus button {
  border: none;
  background: none;
  margin: 10px 5px;
}

.menus button:hover {
  background-color: beige;
  border-radius: 4px;
}

.news-item {
  border-bottom: 2px solid black;
  padding: 1em;
}

.news-image {
  max-width: 100%;
  max-height: 300px;
}

.hide {
  display: none;
}

.news-list h2 {
  margin-top: 10px;
}


@media screen and (max-width: 50em) {
  .nav-search-box .open-btn {
    display: inline;
  }

  .menus {
    display: none;
  }

  .news-list {
    border-bottom: 1px solid gray;
  }
}